
header a {
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
font-size: xx-large;
font-weight: bolder;
color: cadetblue;
}

header h2 {
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
}

button:hover {
    background-color: cadetblue;
    opacity: 40%;
}

#multiple-choice {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#question {
    font-family: 'Courier New', Courier, monospace;
}

#score-input {
    font-family: 'Courier New', Courier, monospace;
}

#user-info {
    font-family: 'Courier New', Courier, monospace;
}

#display-score {
    font-family: 'Courier New', Courier, monospace;
}

#correct-answer {
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
}