
header h1 {
font-family: 'Courier New', Courier, monospace;
}

header h2 {
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: aquamarine;
    opacity: 40%;
}

#multiple-choice {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#question {
    font-family: 'Courier New', Courier, monospace;
}

#score-input {
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
}